@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Lexend", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh; /* Works as fallback if svh is not supported */
  height: 100svh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1c1917;
  border-radius: 20px;
}
